<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target
      name="logfile"
      xsi:type="File"
      fileName="log.txt" />

    <target
      name="logconsole"
      xsi:type="ColoredConsole"
      encoding="ascii"
      layout="${message}"
      useDefaultRowHighlightingRules="true"
      errorStream="false" />

    <target
      name="exconsole"
      xsi:type="ColoredConsole"
      encoding="ascii"
      layout="${exception:format=message}"
      useDefaultRowHighlightingRules="true"
      errorStream="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Error" writeTo="logconsole" />
    <logger name="*" minlevel="Fatal" writeTo="exconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>